{% for idx in range(1, (service_count | int) + 1) %}
---
apiVersion: skupper.io/v2alpha1
kind: Connector
metadata:
  name: "{{ service_name_prefix }}-{{ idx }}"
spec:
  routingKey: "{{ routing_key_prefix }}-{{ idx }}"
  port: {{ backend_port | int }}
  selector: "app={{ backend_app_label }}"

{% endfor %}
